In [51]:
import pandas as pd # Import pandas
input = pd.read_csv("../inputs/day2.csv", header=None, delimiter=' ') # Read the input without header
input[1] = input[1].apply(lambda x: x[0]) # Replace the df col with index 1 with the same but apply a transformation, taking only the first char

def get_min(min_max):
    sep_index = min_max.find('-')
    return min_max[0:sep_index]

def get_max(min_max):
    sep_index = min_max.find('-')
    return min_max[sep_index+ 1:]

input[3] = input[0].apply(lambda x: get_min(x))
input[4] = input[0].apply(lambda x: get_max(x))
input

        0  1                  2  3   4
0     2-5  z             zzztvz  2   5
1     2-8  d    pddzddkdvqgxndd  2   8
2    4-14  r  rrrjrrrrrrbrrccrr  4  14
3     2-7  r            zrgsnrr  2   7
4    9-10  z         zzzxwzznpd  9  10
..    ... ..                ... ..  ..
995  2-15  p   lpjxcdzjmnghfppr  2  15
996  9-15  s   ssssssssnsssssss  9  15
997  1-11  t        tfvtqvlbtld  1  11
998   4-5  k       kkkczkkkvkkk  4   5
999   2-7  p       ptphppvppppp  2   7

[1000 rows x 5 columns]

In [73]:
def conforms(entry):
    char_count = entry[2].count(entry[1])
    is_good = int(entry[3]) <= char_count <= int(entry[4])
    return is_good

transformed_input = input.apply(lambda x: conforms(x), axis=1)
count = transformed_input[transformed_input == True].count()
count

460

In [89]:
def conforms(entry):
    password = entry[2]
    char = entry[1]
    first_char_index = int(entry[3]) - 1
    second_char_index = int(entry[4]) - 1
    first_condition_met = password[first_char_index] == char
    second_condition_met = password[second_char_index] == char
    #print(f'Password: {password}. Looking for {char} at index {first_char_index} and NOT at index {second_char_index}')
    #print(f'Result: char at first position: {password[first_char_index]}, char at second position: {password[second_char_index]}')
    #print(f'Result: First condition: {first_condition_met}, Second condition: {second_condition_met}')
    is_good = first_condition_met != second_condition_met
    return is_good

transformed_input = input.apply(lambda x: conforms(x), axis=1)
count = transformed_input[transformed_input == True].count()
count

251