In [1]:
import pandas as pd # Import pandas
input = pd.read_csv("../inputs/day5.csv", header=None)
input[1] = input[0].apply(lambda x: x[-3:])
input[0] = input[0].apply(lambda x: x[:-3])
input.head()

         0    1
0  FFBFBBB  RLR
1  BBFFBFF  RRR
2  BFFFFBB  RRR
3  FFBFFBB  LRR
4  FFBFBFB  LLL

In [2]:
first_row = 0
last_row = 127

test_input = 'RLR'

def get(code, min, max, lower_symbol):
    lower = min
    upper = max
    for elem in code:
        if elem == lower_symbol:
            upper = upper - ((upper - lower + 1)/2)
        else:
            lower = lower + ((upper - lower + 1)/2)
        #print(f'{elem}:{lower}-{upper}')
    if lower == upper:
        return lower
    else:
        print(f'{code}: {elem}:{lower}-{upper}')
        raise Exception('no match')

get(test_input, 0, 7, 'L')

input[2] = input.apply(lambda x: get(x[0],0,127,'F')*8+get(x[1],0,7,'L'), axis=1)

input[2].max()

818.0

In [9]:
seat_ids = input[2].unique()
for row in range(128):
    for col in range(8):
        seat_id = row*8+col
        if seat_id not in seat_ids:
            #print(seat_id)
            if seat_id + 1 in seat_ids and seat_id - 1 in seat_ids:
                print(seat_id)

559