In [3]:
import pandas as pd # Import pandas
input = pd.read_csv("../inputs/day6_1.csv", header=None)
input.head()

                                             0
0  atxmhdzkjgivwcquconirfdgplhvsaghbvdefsaniyc
1                                    cccasxccz
2                                sdxtfzostfzno
3                                        ttttt
4                   nkjexbhrswugovjxugwhbroves

In [4]:
input[1] = input[0].apply(lambda x: len(set(x)))
input.head()
input[1].sum()

6714

In [5]:
day6_2_file = open("../inputs/day6_2.csv")
content = day6_2_file.read() # Read a text file
content_list = content.split("\n") # Split a text file into rows to get a list
import ast
groups_df = pd.DataFrame(content_list)
groups_df[0] = groups_df[0].apply(lambda x: ast.literal_eval(x)) # Convert text representation of list into actual python list
groups_df.head()

                                                   0
0  [atxmhdzkjgivwcqu, conirfdgplhvsa, ghbvdefsaniyc]
1                                [c, c, cas, xc, cz]
2                                  [sdxtfzo, stfzno]
3                                    [t, t, t, t, t]
4                     [nkjexbhrswugov, jxugwhbroves]

In [6]:
def get_intersection_len(list):
    if len(list) == 1:
        return len(list[0])
    else:
        current_intersect_str = list[0]
        for item in list[1:]:
            result = set(current_intersect_str).intersection(item)
            current_intersect_str = ''.join(result)
        return len(current_intersect_str)


groups_df[1] = groups_df[0].apply(lambda x: get_intersection_len(x))
groups_df[1].sum()

3435